
#menu-menu{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
}
.menu-select{
    width:60%;
    min-width: 200px;
    height:auto;
    background-color: #1E1E1E;
    border-radius: 11px;
    padding:10px;
    color: #D9D9D9;
}