.Header h5{
    line-height: 4px;
}
.week{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.day{
    transition: ease 0.2s;
    width:90%;
    height:75px;
    background-color: #1E1E1E;
    margin: auto;
    cursor: pointer;
}

.day-head{
    color: #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.day-head h2{
    transition: ease 0.2s;
    font-weight: 700;
    font-size: 25px;
}

.active-day{
    transition: ease 0.2s;
    height:200px;
}

.active-day h2{
    transition: ease 0.2s;
    font-size: 30px;
}

#menu-nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}