{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/menu.css') }}" >
{% endblock %} 

{% block body %}
<div class="Header">
    <h1>Current Week</h1>
    <h5>28th - 2nd</h5>
</div>
<div class="week">
    <div class="day" id="Monday" onclick="clicked_day_check('Monday')">

        <div class="day-head " ><h2>Monday</h2> <h5>28th</h5></div>
    </div>
    <div class="day" id="Tuesday" onclick="clicked_day_check('Tuesday')">
        <div class="day-head " ><h2>Tuesday</h2> <h5>29th</h5></div>
    </div>
    <div class="day" id="Wednesday" onclick="clicked_day_check('Wednesday')">
        <div class="day-head " ><h2>Wednesday</h2> <h5>30th</h5></div>
    </div>
    <div class="day" id="Thursday" onclick="clicked_day_check('Thursday')">
        <div class="day-head " ><h2>Thursday</h2> <h5>1st</h5></div>
    </div>
    <div class="day" id="Friday" onclick="clicked_day_check('Friday')">
        <div class="day-head " ><h2>Friday</h2> <h5>2nd</h5></div>
    </div>

    <div class="day" id="Saturday" onclick="clicked_day_check('Saturday')">
        <div class="day-head" ><h2>Saturday</h2> <h5>3rd</h5></div>
    </div>

    <div class="day" id="Sunday" onclick="clicked_day_check('Sunday')">
        <div class="day-head " ><h2>Sunday</h2> <h5>4th</h5></div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/menu_day_script.js') }}" type="text/javascript"></script>
{% endblock %} 